@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  font-family: var(--font-sora);
  line-height: 60px;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 48px;
  font-family: var(--font-sora);
}

h3 {
  font-size: 2em;
  font-weight: 500;
  line-height: 40px;
  font-family: var(--font-sora);
}

h4 {
  font-size: 1.5em;
  font-family: var(--font-sora);
}

h5 {
  font-size: 1.125em;
  font-family: var(--font-sora);
}

h6 {
  font-size: 1em;
  font-family: var(--font-sora);
}

p,
li {
  font-size: 1.125em;
  line-height: 30px;
}

@media only screen and (max-width: 576px) {
  /* For phones: */
  h1 {
    font-size: 3em;
    line-height: 50px;
  }

  h2 {
    font-size: 2.2em;
    line-height: 48px;
  }

  h3 {
    font-size: 1.5em;
    line-height: 30px;
  }

  h4 {
    font-size: 1.2em;
    line-height: 27px;
  }

  p,
  li {
    font-size: 1em;
    line-height: 28px;
  }
}
