@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/GeneralSans-Variable.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}